@import "../general/variables";

.section-from {
  padding: 9.6rem 0;
  @media (max-width: 768px) {
    padding: 7.6rem 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    div {
      max-width: 80rem;
      width: 100%;
      label {
        display: block;
        margin-bottom: 1rem;
        font-size: 1.8rem;
      }
      input {
        width: 100%;
        padding: 1rem 0 1rem 1rem;
        border-radius: 9px;
        border: none;

        &::placeholder {
          font-size: 1.5rem;
        }
      }

      textarea {
        width: 100%;
        padding: 1rem 0 10rem 1rem;
        border-radius: 9px;
        border: none;
      }
    }

    .btn {
      padding: 1rem 2rem;
      border-radius: 5rem;
      color: $main-white;
      background-color: #1e1e1e;
      border: none;
      cursor: pointer;
      transition: all 0.4s;
      font-size: 1.6rem;
      align-self: flex-start;

      &:hover {
        background-color: $nav-link-hover;
      }
    }
  }
}
