@import "../general/variables";

.section-hero {
  padding: 9.6rem 0;
  @media (max-width: 768px) {
    padding: 7.6rem 0;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 996px) {
      grid-template-columns: 1fr;
      row-gap: 5.3rem;
      text-align: center;
    }

    .hero-description {
      justify-self: center;
      align-self: center;
      animation: slide 5s infinite;
      .description-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 0.8rem;

        .hero-icon {
          width: 5.5rem;
          @media (max-width: 996px) {
            width: 5rem;
          }

          @media (max-width: 768px) {
            width: 4rem;
          }

          @media (max-width: 576px) {
            width: 3.2rem;
          }
        }

        .subheading {
          font-size: 3.2rem;
          line-height: $line-height-2;

          @media (max-width: 996px) {
            font-size: 2.8rem;
          }

          @media (max-width: 768px) {
            font-size: 2.6rem;
          }

          @media (max-width: 576px) {
            font-size: 2rem;
            line-height: $line-height-1;
          }
        }
      }

      .me {
        .name {
          font-size: 8rem;
          color: $main-white;
          margin-bottom: 1.6rem;
          line-height: $line-height-4;

          @media (max-width: 996px) {
            font-size: 6rem;
          }
          @media (max-width: 768px) {
            font-size: 5rem;
          }
          @media (max-width: 576px) {
            font-size: 4rem;
            line-height: $line-height-3;
          }
        }

        .job {
          font-size: 3.2rem;
          color: $job-color;
          line-height: $line-height-2;

          @media (max-width: 996px) {
            font-size: 2.8rem;
          }

          @media (max-width: 768px) {
            font-size: 2.6rem;
          }

          @media (max-width: 576px) {
            font-size: 2rem;
            line-height: $line-height-1;
          }
        }
      }
    }

    .hero-image {
      img {
        width: 30rem;
        height: 37rem;

        @media (max-width: 996px) {
          width: 25rem;
          height: 32rem;
        }

        @media (max-width: 576px) {
          width: 20rem;
          height: 27rem;
        }
      }
    }
  }
}
