/*COLORS*/
$main-white: #fff;
$background-color: #111827;
$background-modal: #1e293b;
$background-link: #161b22;
$background-overlay: rgba(0, 0, 0, 0.6);
$heading-border: #2c66c3;
$nav-link-hover: #2c66c3;
$footer-icon-hover: #2c66c3;
$heading-shadow: #2c66c380;
$job-color: #2cb67d;
$project-icon-background: #293548;
$skills-boredr-color: #293548;

// Line height
$line-height: 1.9rem;
$line-height-1: 2.3rem; // 23px;
$line-height-2: 3.8rem; // 38px;
$line-height-3: 4.7rem; // 47px;
$line-height-4: 9.4rem; // 94px;
