/*COLORS*/
$main-white: #fff;
$background-color: #111827;
$background-modal: #1e293b;
$background-link: #161b22;
$background-overlay: rgba(0, 0, 0, 0.6);
$heading-border: #2c66c3;
$nav-link-hover: #2c66c3;
$footer-icon-hover: #2c66c3;
$heading-shadow: #2c66c380;
$job-color: #2cb67d;
$project-icon-background: #293548;
$skills-boredr-color: #293548;

// Breakpoints
